@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para barras de desplazamiento */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

body {
  background-color: #f8fafc; /* slate-50 */
}
